WCETExplorer/Gui/SampleData/AVGLine/AVGLine.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.AVGLine" targetNamespace="Expression.Blend.SampleData.AVGLine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AVGLine" type="tns:AVGLine" />
  <xs:complexType name="AVGLine">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="4" name="X" type="xs:double" />
    <xs:attribute blend:FormatParameters="4" name="Y" type="xs:double" />
  </xs:complexType>
</xs:schema>
