WCETExplorer/Gui/SampleData/FunctionNames/FunctionNames.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.FunctionNames" targetNamespace="Expression.Blend.SampleData.FunctionNames" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FunctionNames" type="tns:FunctionNames" />
  <xs:complexType name="FunctionNames">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="4,12" name="Property1" type="xs:string" />
  </xs:complexType>
</xs:schema>
